---
pantry:
  config:
    home: "[path-to-your-home]"
    local_folder: "[path-to-your-dropbox-or-git-folder]"
    use_git: false

  stuff:
    # WARNING: if you want to copy the content of a folder
    # always put a dot at the end of the path, "folder/."

    # Since this config file is ignored by git
    # I would suggest to add it to your backup

    my_pantry: "[path-to-pantry]/pantry_config.yml"

    # Here you can find some examples, change'em at your convinence

    ssh: ".ssh/."
    gitconfig: ".gitconfig"
    gitignore: ".gitignore"
    zsh: ".zshrc"
    oh_my_zsh: ".oh-my-zsh/custom/."
    sublime: "Library/Application\ Support/Sublime\ Text\ 3/Packages/User/."
    spectacle: "Library/Application\ Support/Spectacle/Shortcuts.json"
